@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 100%;
    }
}

@media (min-width: 1920px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, container-xxl {
        max-width: 1840px;
    }
}

h1 {
    margin-bottom: 2rem;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

img.joint-image {
    max-width: 25rem;
}

ul {
    padding-left: 1rem;
}

table a {
    text-decoration: none;
}
