.page-quiz .quiz-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}

.page-quiz .answers.multiple-choice .correct-answer .btn-check:checked+.btn, 
.page-quiz .answers.multiple-choice .correct-answer .btn.active, 
.page-quiz .answers.multiple-choice .correct-answer .btn.show, 
.page-quiz .answers.multiple-choice .correct-answer .btn:first-child:active, 
.page-quiz .answers.multiple-choice .correct-answer :not(.btn-check)+.btn:active {
    background-color: green;
}

.page-quiz .answers.multiple-choice .wrong-answer .btn-check:checked+.btn, 
.page-quiz .answers.multiple-choice .wrong-answer .btn.active, 
.page-quiz .answers.multiple-choice .wrong-answer .btn.show, 
.page-quiz .answers.multiple-choice .wrong-answer .btn:first-child:active, 
.page-quiz .answers.multiple-choice .wrong-answer :not(.btn-check)+.btn:active {
    background-color: red;
}

.page-quiz .next-question-bg,
.page-quiz button.next-question {
    width: 21.25rem;
}

.page-quiz .draggable-container {
    min-height: 100%;
    border: 2px double #000;
}

.page-quiz .draggable-container .draggable-element {
    color: #6c757d;
    border: 1px dashed #6c757d;
    width: 25rem;
    margin: 0.5rem;
    max-width: calc(100% - 1rem);
}