.page-quiz-list .nav-buttons-wrapper .quiz-icon {
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.page-quiz .quiz-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}

.page-quiz .next-question-bg,
.page-quiz button.next-question {
    width: 21.25rem;
}

/** Multiple-choice question **/

.page-quiz .answers.multiple-choice {
    width: 21.25rem;
    margin: 0 auto;
}

.page-quiz .answers.multiple-choice .correct-answer .btn-check:checked+.btn,
.page-quiz .answers.multiple-choice .correct-answer .btn.active,
.page-quiz .answers.multiple-choice .correct-answer .btn.show,
.page-quiz .answers.multiple-choice .correct-answer .btn:first-child:active,
.page-quiz .answers.multiple-choice .correct-answer :not(.btn-check)+.btn:active {
    background-color: green;
}

.page-quiz .answers.multiple-choice .wrong-answer .btn-check:checked+.btn,
.page-quiz .answers.multiple-choice .wrong-answer .btn.active,
.page-quiz .answers.multiple-choice .wrong-answer .btn.show,
.page-quiz .answers.multiple-choice .wrong-answer .btn:first-child:active,
.page-quiz .answers.multiple-choice .wrong-answer :not(.btn-check)+.btn:active {
    background-color: red;
}

/** Draggable question **/

.page-quiz .draggable-question .draggable-container {
    min-height: 100%;
    border: 4px double #808080;
    border-radius: 1rem;
    background-color: #e4daff;
    /* background-image: url("../images/quiz/draggable-bg.svg");
    background-repeat: repeat; */
    padding: 1rem 0;
}

.page-quiz .draggable-question.correctly-answered .draggable-container {
    background-color: #84db81;
}

.page-quiz .draggable-question .draggable-container .draggable-element,
.draggable-element.gu-mirror {
    color: #6c757d;
    background-color: #fff;
    width: 25rem;
    margin: 0.5rem;
    max-width: calc(100% - 1rem);
}

.page-quiz .draggable-question .draggable-container .draggable-element {
    cursor: grab;
    word-break: break-word;
}
.page-quiz .draggable-question .draggable-container .draggable-element.correct-placement {
    border: 4px ridge #00b300;
}
.page-quiz .draggable-question .draggable-container .draggable-element.incorrect-placement {
    border: 4px ridge #fd0303;
}

.page-quiz .draggable-question .draggable-container .draggable-element.gu-transit {
    border: 2px dashed #6c757d;
}

.draggable-element.gu-mirror {
    cursor: grabbing;
}

/** Multiple text input question **/

.page-quiz .multiple-text-input-question .correct-answer {
    outline: 4px solid #00b300;
}

.page-quiz .multiple-text-input-question .incorrect-answer {
    outline: 4px solid #fd0303;
}

/** ROM question **/

.question-rom .answers input[type="text"] {
    width: 6rem;
    text-align: center;
}